.wrapper {
    position: absolute;
    text-align: center;
    width: 70%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    pointer-events: none;
    text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}
