.modal {
    z-index: 100;
    position: absolute;
    top: 7.5%;
    right: 25%;
    bottom: 7.5%;
    left: 11.1%;
    padding-top: 20px;
    padding-left: 40px;

    border-radius: 30px;

    background: rgba(250, 249, 245, 0.9);

    color: #333333;

    /* overflow-y: auto; */
    display: flex;
  }

.grids {
  font-size: 2em;
}
